# Example variables for dev/prod environments

aws_region       = "eu-central-1"
project_name     = "zero-trust-vpc-mesh"
environment      = "dev"

# Networking
vpc_cidr         = "10.0.0.0/16"
public_subnets   = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnets  = ["10.0.10.0/24", "10.0.11.0/24"]

# DNS
domain_name      = "example.internal"

# VPN
vpn_cidr         = "10.100.0.0/16"

# PKI
root_ca_common_name = "ZeroTrustRootCA"
